@(peak: BigDecimal)

@main("Bitcoin Peak Price") {
    <style>
        #text {
            font-size: 40px;
            margin:auto;
            text-align: center;
        }
        #container {
            position: absolute;
            top:40%;
            width:100%;
        }
        #chart {
            background-image: url(/assets/images/graphchart.jpg);
            width: 252px;
            height: 252px;
            position: fixed;
            top:50%;
            left:40%;
        }
        #footer {
            position: fixed;
            bottom: 20px;
            font-size:14px;
        }
    </style>
    <div id="container">
        <div id="text">The peak Bitcoin price is <span class="price">@peak USD</span>
        <div id="chart"></div>
        <div id="footer">The priced is updated every minute, based on <a href="http://bitcoincharts.com/about/markets-api/">bitcoincharts API</a> Source <a href="https://github.com/ripper234/bitcoin-peak">on github</a>.
        </div>
    </div>
    </div>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38825281-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
}
